.skills{
  &__grid-container {
    inline-size: 100%;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(14, 9rem);
    grid-template-rows: repeat(6, 9rem);
    row-gap: 1.2rem;
    column-gap: 1.2rem;
    cursor: grab;

    &-on-drag {
      cursor: grabbing;
    }
  }
}

.skill{
  &__box {
    border: 2px solid var(--color-line-dark );
    border-radius: var(--border-radius-medium);
  }
}