.skills {
  &__grid-container {
    inline-size: 100%;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(16, 9rem);
    grid-template-rows: repeat(6, 9rem);
    row-gap: 1.6rem;
    column-gap: 1.6rem;
    cursor: grab;
    padding-block: 4.4rem;
    border-inline: 1px solid var(--color-bg-light);
    padding-inline: 1.6rem;

    &-on-drag {
      cursor: grabbing;
    }
  }
}

.skill {
  &__box {
    border: 2px solid var(--color-line-dark);
    border-radius: var(--border-radius-medium);
  }

  &__title {
    font-size: 3.6rem;
    line-height: 1;
    padding-block: 1.2rem;
  }

  &__text {
    font-size: 1.6rem;
    line-height: 1.1;
    padding-block: 1.2rem;
  }

  &__design-box- {

    &0 {
      // empty
    }

    &1 {
      background-image: var(--gradient-secondary);
      border-radius: var(--border-radius-medium);
    }

    &2 {
      background-image: var(--gradient-secondary-reverse);
      border-radius: var(--border-radius-medium);
    }

    &3 {
      display: grid;
      place-items: center;
      font-family: 'Anonymous Pro', monospace;
      line-height: 1;
      color: var(--color-bg-lighter);
    }

    &4 {
      color: var(--color-bg-lighter);
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      padding-inline-start: 0.8rem;
    }
  }
}

.skill__el- {
  &1 {
    // big one with general info
    grid-column: 1 / 7;
    grid-row: 1 / 5;
  }

  &2 {
    // angular div
    grid-column: 1 / 3;
    grid-row: 5 / 7;
  }

  &3 {
    // angular text
    grid-column: 3 / 7;
    grid-row: 5 / 6;
  }

  &4 {
    // typescript div
    grid-column: 3 / 4;
    grid-row: 6 / 7;
  }

  &5 {
    // codestar div
    grid-column: 4 / 5;
    grid-row: 6 / 7;
  }

  &6 {
    // design box
    grid-column: 5 / 8;
    grid-row: 6 / 7;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
  }

  &7 {
    // html div
    grid-column: 7 / 8;
    grid-row: 1 / 2;
  }

  &8 {
    // html div
    grid-column: 8 / 9;
    grid-row: 1 / 2;
  }

  &9 {
    // html div
    grid-column: 9 / 10;
    grid-row: 1 / 2;
  }

  &10 {
    // react title
    grid-column: 7 / 9;
    grid-row: 2 / 3;
  }

  &11 {
    // react text
    grid-column: 9 / 11;
    grid-row: 3 / 5;
  }

  &12 {
    // react div
    grid-column: 7 / 9;
    grid-row: 3 / 5;
  }

  &13 {
    // empty design box
    grid-column: 7 / 8;
    grid-row: 5 / 6;
  }

  &14 {
    // react tech 1
    grid-column: 8 / 9;
    grid-row: 5 / 6;
  }

  &15 {
    // react tech 2
    grid-column: 9 / 10;
    grid-row: 5 / 6;
  }

  &16 {
    // react tech 3
    grid-column: 10 / 11;
    grid-row: 5 / 6;
  }

  &17 {
    // react tech 4
    grid-column: 8 / 9;
    grid-row: 6 / 7;
  }

  &18 {
    // down right arrow
    grid-column: 9 / 10;
    grid-row: 2 / 3;
  }

  &19 {
    // commit title
    grid-column: 10 / 14;
    grid-row: 1 / 2;
    text-align: end;
    font-size: 3rem;
    line-height: 1.1;
  }

  &20 {
    // empty space react
    grid-column: 10 / 12;
    grid-row: 2 / 3;
  }

  &21 {
    // git div
    grid-column: 12 / 13;
    grid-row: 2 / 3;
  }

  &22 {
    // github div
    grid-column: 13 / 14;
    grid-row: 2 / 3;
  }

  &23 {
    // picture div
    grid-column: 11 / 15;
    grid-row: 3 / 6;
  }

  &24 {
    // my react toolkit title
    grid-column: 9 / 11;
    grid-row: 6 / 7;
  }

  &25 {
    // love for epic react
    grid-column: 11 / 12;
    grid-row: 6 / 7;
    display: grid;
    place-items: center;
  }

  &26 {
    // photoshop
    grid-column: 12 / 13;
    grid-row: 6 / 7;
  }

  &27 {
    // illustrator
    grid-column: 13 / 14;
    grid-row: 6 / 7;
  }

  &28 {
    // figma
    grid-column: 14 / 15;
    grid-row: 6 / 7;
  }

  &29 {
    // commit heat map
    grid-column: 14 / 17;
    grid-row: 1 / 2;
    display: grid;
    place-items: center;
  }

}